@import "tailwindcss";

@theme {
  /* Background */
  --color-tech-bg: #0b1120;
  --color-tech-panel: #111827;
  --color-tech-active: #1f2937;

  /* Accent */
  --color-tech-cyan: #22d3ee;
  --color-tech-cyan-hover: #164e63;
  --color-tech-cyan-border: #0e7490;
}